/* mobile-first mentality:

.content {
  // Properties for smaller screens.
  // Nothing is required here because we can use the default styles

  // Properties for larger screens
  @media (min-width: 800px) {
    float: left;
    width: 60%;
  }

  //NOTE! You can't embed media queries withing styles unless using SASS! Otherwise they must be outer shell!
}

Greens
#171717 - near black - default font color, horizontal rules, button borders, some icons
#19482c - forest - default icons color - some font - all upper case (button labels?) - ID numbers, could be good for anything fixed width (dollar values)
#1c6a3a - go signal - few icons
#839178 - dulled gray-green
#acc3a2 - washed out green (gray)
#e0e9dd - super pale green - default background color. button bg colors. panel bg colors. to give the sense of hollowness

Peach
#dcc9b6 - alt bg color? maybe gradient from washed out green?

Ultra Light Blue 
#bbd1ea - perhaps some bg icongraphy?

Gold
#D2691E - chocolate (goldenrod is too bright)


*/
.glyphicon-money:before {
	font-size: 16px;
	font-weight: 700;
	content: "$";
}

html, body { 
	height: 120%;	/* FIXME: scrolling now wacked out! Sometimes too much, other times too little! */
	padding-top: 35px;	/* to consider for the fixed nav */

	background-color: #e0e9dd;
	color: #171717;
}

p {
	font-size: 16px;
}

.nav-tabs a {
	color: #000;
	font-weight: 700;
}

@media screen and (max-width: 480px) {
	html, body {
		height: 130%;
		padding-top: 22px;
	}

	p {
		font-size: 42px;
	}
}




/* the money font */
h1, h2, h3 {
	font-family: 'Ultra', serif;
	margin: 0.5em;
	opacity: 0.9;
}

/* H1: Look at the no. '20' in the upper left corner of a 20 dollar bill */
h1 {
	font-size: 52px;

   	-webkit-text-fill-color: #e0e9dd;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #171717;

	text-shadow:
		3px 3px 0 #000,
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000
}

/* H2: like H1, but with a horizontal line fill */
/* Look at 'the united states of america' text in the upper right quadrant of a 20 dollar bill */
h2 {
	font-size: 46px;

	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,#ffffff), color-stop(100%, #171717));
	background-image: repeating-linear-gradient(to bottom,
    	#ffffff,
    	#171717 1%,
    	#ffffff 3%);

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #171717;

	color: #171717;
	position: relative;
}

/* place a solid (screen) copy of the text behind the gradient text; use *that* text as the drop-shadow */
h2:after {
	mix-blend-mode: screen;
	background: none;
	display: inline-block;
	content: attr(shadow-text);
	position: absolute;	/* FIXME: this aligns to the parent element, not the *actual text*, so center alignments break! */;
	text-shadow: 5px 5px 0 rgba(0,0,0,1);
	top: 0;
	left: 0;
	z-index: -1;
}

/* H3: the smaller 'The' above 'the united states of america' in the upper right quadrant of the $20 */
h3 {
	font-size: 24px;
}

/* restyling bootstrap */
.page-header {
	border-bottom: 1px solid #171717;
}

/* input */
.input-group-addon {
	background-color: #acc3a2;
	border: 1px solid #839178;
}

/* buttons */
.btn-default {
  color: #1c6a3a;
  background-color: #e0e9dd;
  border-color: #cccccc;
  border: 2px solid #171717;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-default[disabled] {
	background-color: #ffffff; /* bootstrap default */
	border-color: #cccccc; /* boostrap default */
	color: #839178;
}

/* glyphs */
.glyphicon {
	color: #19482c;
}

/* glyphs that specifically show up on buttons */
.btn > .glyphicon {
	color: #D2691E;
}

/* glyphs in the fixed nav */
.navbar-nav > li > a > .glyphicon {
	color: #fff;
}

.btn[disabled] > .glyphicon {
	color: #dcc9b6;
}

/* tables with alternating rows */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #acc3a2;
}

/* panels */
.panel
{
    background: #839178;
    border-radius: 8px;
    border: 2px solid #171717;
}

.panel-default
{
	border-color: #171717;
}

/* form fields */
.form-control {
	color: #1c6a3a;
	font-weight: 600;
}


/* the panning functionality */
.pan-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.pan-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.pan-page-current,
.no-js .pan-page {
	visibility: visible;
	z-index: 1;
}

.no-js body {
	overflow: auto;
}

.pan-page-ontop {
	z-index: 999;
}

/* Triggers (menu and button) */

.pan-triggers {
	position: absolute;
	width: 300px;
	z-index: 999999;
	top: 12%;
	left: 50%;
	margin-top: 130px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%); 
	transform: translateX(-50%);
}

.no-js .pan-triggers {
	display: none;
}

.pan-touch-button {
	border: none;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px 0 20px;
	padding: 0px 20px;
	line-height: 50px;
	height: 50px;
	letter-spacing: 1px;
	width: 100%;
	cursor: pointer;
	display: block;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	box-shadow: 0 3px 0 rgba(0,0,0,0.1);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pan-touch-button {
	background: #fff;
	color: #aaa;
}

.pan-touch-button:active {
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.pan-message {
	display: none;
	position: absolute;
	z-index: 99999;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #da475c;
	color: #fff;
	text-align: center;
}

.pan-message p {
	margin: 0;
	line-height: 60px;
	font-size: 26px;
}

@media screen and (max-width: 47.4375em) {
	.pan-page h1 {
		font-size: 3em;
	}

}

/* animations */

.pan-moveToLeft {
	-webkit-animation: moveToLeft .6s ease both;
	animation: moveToLeft .6s ease both;
}

.pan-moveFromLeft {
	-webkit-animation: moveFromLeft .6s ease both;
	animation: moveFromLeft .6s ease both;
}

.pan-moveToRight {
	-webkit-animation: moveToRight .6s ease both;
	animation: moveToRight .6s ease both;
}

.pan-moveFromRight {
	-webkit-animation: moveFromRight .6s ease both;
	animation: moveFromRight .6s ease both;
}

@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight { 
	from { }
	to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight { 
	from { }
	to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}