/* mobile-first mentality:

.content {
  // Properties for smaller screens.
  // Nothing is required here because we can use the default styles

  // Properties for larger screens
  @media (min-width: 800px) {
    float: left;
    width: 60%;
  }

  //NOTE! You can't embed media queries withing styles unless using SASS! Otherwise they must be outer shell!
}

Greens
#171717 - near black - default font color, horizontal rules, button borders, some icons
#42493C - dark forest - starting to approach black - only used in the bg of the master .panel class
#19482c - forest - default HYPERLINK color - default icons color - some font - all upper case (button labels?) - ID numbers, could be good for anything fixed width (dollar values)
#1c6a3a - go signal - few icons
#839178 - dulled gray-green
#acc3a2 - washed out green (gray)
#e0e9dd - super pale green - default background color. button bg colors. panel bg colors. to give the sense of hollowness

Peach
#dcc9b6 - alt bg color? maybe gradient from washed out green?

Ultra Light Blue 
#bbd1ea - perhaps some bg icongraphy?

Chocolate
#D2691E - link hover/focus states, button hover/focus states, icons that accompany links.


*/
.glyphicon-large {
  font-size: 42px;
}

.fas-large {
  font-size: 84px;
}

.btn-tile .glyphicon {
  font-size: 84px;
}

.glyphicon-money:before {
  content: "$";
  font-family: 'Days One', sans-serif;
}

.dollar-large {
  font-size: 48px;
  font-weight: 700;
}

/* glyphs */
.glyphicon, .fas, {
  color: #19482c;
  top: 2px;
}

.btn.btn-primary > .glyphicon, .btn.btn-primary > .fas {
  color: #fff;
}

/* glyphs in the fixed nav */
.navbar-nav > li > a > .glyphicon, .navbar-nav > li > a > .svg-inline--fa {
  color: #fff;
}

.navbar-nav > .active > a > .glyphicon, .navbar-nav > .active > a > .svg-inline--fa {
  color: #D2691E;;
}

html, body { 
  height: 120%; /* FIXME: scrolling now wacked out! Sometimes too much, other times too little! */
  padding-top: 25px;  /* to consider for the fixed nav */
  background-color: #fff;
  color: #171717; /* dd-black */
  font-family: 'Nunito', sans-serif;
  font-size: 21px;
  font-weight: 400;
}

a {
  color: #19842c; /* bright green */
}

/* glyphs that accompany links are chocolate */
a .svg-inline--fa {
  color: #D2691E;
}

a:focus, a:hover {
  color: #D2691E; /* chocolate */
}

.nav-tabs > .active > a > .svg-inline--fa {
  color: #fff;
}

/* glyphs in links that are being hovered over (chocolate) will themselves flip black */
a:focus .svg-inline--fa, a:hover .svg-inline--fa {
  color: #171717;
}

hr {
  border-top: 1px solid #171717;
}

p {
  font-size: 21px;
}

th > p,ol,ul {
  font-weight: 400;
}

/* the money font */
h1, h2, h3 {
  font-family: 'Ultra', serif;
  /* margin: 0.5em; */
  opacity: 0.9;
}

/* H1: Look at the no. '20' in the upper left corner of a 20 dollar bill */
h1 {
  font-size: 62px;

  -webkit-text-fill-color: #e0e9dd;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #171717;

  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000
}

/* H2: like H1, but with a horizontal line fill */
/* Look at 'the united states of america' text in the upper right quadrant of a 20 dollar bill */
h2 {
  font-size: 46px;

  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,#ffffff), color-stop(100%, #171717));
  background-image: repeating-linear-gradient(to bottom,
      #ffffff,
      #171717 1%,
      #ffffff 3%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #171717;

  color: #171717;
  position: relative;
}

/* place a solid (screen) copy of the text behind the gradient text; use *that* text as the drop-shadow */
h2:after {
  mix-blend-mode: screen;
  background: none;
  display: inline-block;
  content: attr(shadow-text);
  position: absolute; /* FIXME: this aligns to the parent element, not the *actual text*, so center alignments break! */;
  text-shadow: 5px 5px 0 rgba(0,0,0,1);
  top: 0;
  left: 0;  
  z-index: -1;
}

/* H3: the smaller 'The' above 'the united states of america' in the upper right quadrant of the $20 */
h3 {
  font-size: 24px;
}

label {
  font-weight: normal;
}

/* restyling bootstrap */
.page-header {
  border-bottom: 1px solid #171717;
}

/* help-block */
.help-block {
  color: #19482c;
}

/* input */
.input-group-addon {
  background-color: #acc3a2;
  border: 1px solid #839178;
  font-size: 17px;
}

.input-group {
  margin-top: 6px;
}

.container .header span {
  display: inline-block;
}

/* buttons */
.btn {
  padding: 12px 14px;
}

.btn-default {
  color: #19842c; /* bright green */
  background-color: #e0e9dd; /* pale green */
  border: 2px solid #19482c; /* deep forest green */
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 900;
}

.btn-default:hover, .btn-default:focus, .btn-primary:hover, .btn-primary:focus {
  color: #D2691E;
  background-color: #F9Ece3;
  border-color: #4F270B;
}

/* glyphs that specifically show up on buttons */
.btn > .glyphicon, .btn > .fas-large {
  color: #D2691E;
  top: 2px;
}

/* glyphs on buttons that are being hovered or focused (orange) will flip to black */
.btn:hover .glyphicon, .btn:focus .glyphicon {
  color: #171717;
}

.btn:hover .fas, .btn:focus .fas {
  color: #171717;
}

/* button-primary */
.btn-primary {
  color: #fff;
  background-color: #1c6a3a;
  /*border-color: #cccccc;*/
  border: 2px solid #171717;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
}

.btn.btn-sm {
  padding: 5px 10px;
}

.btn-tile {
  margin: 8px 8px 8px 8px;
  font-size: 28px;
  line-height: 1.03;
  width: 300px;
  height: 220px;
  white-space: normal;
}

.btn-default[disabled] {
  background-color: #ffffff; /* bootstrap default */
  border-color: #cccccc; /* boostrap default */
  color: #839178;
}

.navbar-fixed-top {
  top: 0;
  z-index: 1030;
  box-shadow: 0 4px 7px 2px rgba(0,0,0,0.4);
}

/* nav */
.navbar-inverse {
  background-color: #1c6a3a;
  border-color: #000;
  /* border-top: 2px; */
}

.navbar-inverse a {
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a {
  color: #D2691E;
  background-color: #e0e9dd;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #fff;
  text-decoration: underline;
}

.navbar-inverse .navbar-nav > li > a:hover > .svg-inline--fa {
  color: #171717;
}

.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #fff;
}

.navbar-inverse .navbar-nav > .active > a > .glyphicon {
  color: #171717;
}

.navbar-inverse .navbar-toggle {
  border-color: #fff;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #e0e9dd;
}

/* nav tabs */
.nav-tabs > li {
  /* margin-bottom: 0px; */
}

.nav-tabs > li > a {
  color: #000;
  font-weight: 700;
}

.btn[disabled] > .glyphicon {
  color: #dcc9b6;
}

/* tables with alternating rows */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #acc3a2;
}

/* panels */
.panel
{
  background: #42493C;
  border-radius: 8px;
  border: 2px solid #171717;
}

.panel .tab-content {
  background: #839178;
  border-radius: 8px;
}

.panel table > thead > tr > th {
  background: #fff;
}

.panel-default
{
  border-color: #171717;
}

.nav-tabs {
  border-bottom: 1px solid #171717;
}

/* all tabs (front or back) */
.panel > .nav-tabs > li > a {
  background-color: #acc3a2;
  margin-top: 3px;
  margin-right: 5px;
  margin-left: 5px;
  border-top-color: #19482c;
  border-right-color: #19482c;
  border-bottom-color: #171717; /* same as the nav-tabs bottom border. also a cheat */
  border-left-color: #19482c;
}

/* tabs in the front */
.panel > .nav-tabs > li.active > a {
  background-color: #839178;
  color: #fff;
  border-top-color: #171717;
  border-right-color: #171717;
  border-bottom-color: #839178; /* same as the bg color. i get it. we're cheating */
  border-left-color: #171717;
  
}

/* tabs being hovered over */
.panel > .nav-tabs > li > a:hover {
  background-color: #e0e9dd;
  color: #D2691E;
}

/* active tab panels that are hovered over get a black glyph */
.panel > .nav-tabs > .active > a:hover > .svg-inline--fa {
  color: #171717;
}

/* form fields */
/*
.form-horizontal .control-label {
  padding-top: 0px;
}
*/

.form-control {
  color: #1c6a3a;
  font-weight: 700;
  height: 38px;
}

.form-control input[type="text"] {
  width: 400px;
}

.form-group-lg > .input-group > .input-group-addon {
  font-size: 20px;
}
.form-group-lg > .input-group > input[type="text"] {
  font-size: 20px;
}

/* strike */
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #171717;  /* dd-black */
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

/* FIXME: I have 0 confidence in this ad destkop/mobile code */
/* mobile ads */
#top-banner {
  position: fixed;
  left:0;
  bottom: 0;
  text-align: center;
  width: 320px;
  height: 100px;
  z-index: 999;
  background-color: transparent;
}

/* default-mobile first: smallest screens (up to 800px); */
.responsive_ad {
  width: 320px;
  height: 100px;
}



/* home styles */

.section-inner {
  display: block;
  padding: 40px;
  max-width: 980px;
  margin: 0 auto;
}

/*
1. focus
2. security
3. fear
4. privacy
5. support

*/

/* all tiles */
.splash-icon {
  background-position: 0 -233px;
  vertical-align: middle;
  height: 185px;
  background-size: 1750px;
  width: 345px;
}

/* left-text */

.text {
  vertical-align: middle;
  display: inline-block;
  width: 520px;
  padding: 0 30px 0 0;
}

/* right-tiles */
.section-inner .focus-icon,
.section-inner .fear-icon,
.section-inner .support-icon {
  width: 330px;
  height: 220px;
  border: 2px solid #fff;
  border-radius: 6px;
}

/* left tiles */
.section-inner .security-icon, 
.section-inner .privacy-icon {
  width: 330px;
  height: 220px;
  background-size: 674px;
  background-position: 0 -270px;
  border: 2px solid #e5e5e5;
  border-radius: 6px;
  /* padding: 0 30px 0 0; */
}

/* right-text */

.text-other {
  vertical-align: middle;
  display: inline-block;
  width: 520px;
  /* padding: 0 0 0 30px; */
}

/* the first section is padded down below the welcome interface */
.about {
  padding-top: 540px;
}

/* the following section is relative */
.focus, .fear, .support {
  position: relative;
  top: 0;
  background-color: #e0e9dd;
}

/* the tiles themselves */
.focus-icon {
  top: 0;
  display: inline-block;
  background-image: url(/path/to/img);
}

.security-icon {
  top: 0;
  display: inline-block;
  background-image: url(/path/to/img);
  margin: 0 30px 0 0;
}

.fear-icon {
  top: 0;
  display: inline-block;
  background-image: url(/path/to/img);
}

.privacy-icon {
  top: 0;
  display: inline-block;
  background-image: url(/path/to/img);
  margin: 0 30px 0 0;
}

.support-icon {
  top: 0;
  display: inline-block;
  background-image: url(/path/to/img);
}

/* footer section */
.footer {
  top: 0;
  bottom: 0;
  color: #fff;
  background-color: #1c6a3a;
}

@media screen and (max-width: 980px) {

  .section-inner {
    padding: 40px 40px 40px 40px;
  }

  .section-inner .text, .section-inner .text-other {
    width: 100%;
  }

  .focus-icon, .security-icon, .fear-icon, .privacy-icon, .support-icon {
    display: none;
  }

}


/* the panning functionality */
.pan-perspective {
  margin-top: 11px;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

.pan-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.pan-page-current,
.no-js .pan-page {
  visibility: visible;
  z-index: 1;
}

.no-js body {
  overflow: auto;
}

.pan-page-ontop {
  z-index: 999;
}

/* Triggers (menu and button) */

.pan-triggers {
  position: absolute;
  width: 300px;
  z-index: 999999;
  top: 12%;
  left: 50%;
  margin-top: 130px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%); 
  transform: translateX(-50%);
}

.no-js .pan-triggers {
  display: none;
}

.pan-touch-button {
  border: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 20px;
  padding: 0px 20px;
  line-height: 50px;
  height: 50px;
  letter-spacing: 1px;
  width: 100%;
  cursor: pointer;
  display: block;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  box-shadow: 0 3px 0 rgba(0,0,0,0.1);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pan-touch-button {
  background: #fff;
  color: #aaa;
}

.pan-touch-button:active {
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.pan-message {
  display: none;
  position: absolute;
  z-index: 99999;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #da475c;
  color: #fff;
  text-align: center;
}

.pan-message p {
  margin: 0;
  line-height: 60px;
  font-size: 26px;
}

/* animations */

.pan-moveToLeft {
  -webkit-animation: moveToLeft .6s ease both;
  animation: moveToLeft .6s ease both;
}

.pan-moveFromLeft {
  -webkit-animation: moveFromLeft .6s ease both;
  animation: moveFromLeft .6s ease both;
}

.pan-moveToRight {
  -webkit-animation: moveToRight .6s ease both;
  animation: moveToRight .6s ease both;
}

.pan-moveFromRight {
  -webkit-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both;
}

@-webkit-keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight { 
  from { }
  to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight { 
  from { }
  to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

/* mobile */
@media screen and (max-width: 480px) {

  html, body {
    height: 130%;
    padding-top: 22px;
    font-size: 18px;
  }

  p {
    font-size: 18px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 19px;
  }

  .btn .glyphicon {
    top: 0px;
  }

  .btn-label {
    display: none;
  }

  .input-group {
    margin-top: 2px;
  }

  .about {
    padding-top: 625px;
  }

  .pan-perspective {
    margin-top: 20px;
  }

}

/* last, screen widths up 800px and wider (desktop) */
@media (min-width: 800px) {
  .responsive_ad {
    width: 728px;
    height: 90px;
  }
}

@media (min-width: 800px) {
  #top-banner {
    position: relative;
    border-bottom: 1px solid #000;
    bottom: inherit;
    text-align: center;
    width: 100%;
    height: 98px;
    padding-top: 4px;
    padding-bottom: 4px;
    /* background-color: #1c6a3a; */
    color: #fff;
    margin-top: 5px;
  }
}